{% extends 'base.html' %}
{% block title %}
  ELDERLY PROFILE
{% endblock %}



{% block head %} 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">    
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
  </noscript>
  
  <link  href="{{ url_for('static', filename = 'elderly_profile/css/font-awesome/css/all.min.css') }}" rel="stylesheet" >
  <link  href="{{ url_for('static', filename = 'elderly_profile/css/mdb.min.css') }}" rel="stylesheet" > 
   <link  href="{{ url_for('static', filename = 'elderly_profile/css/aos.css') }}" rel="stylesheet" >
  <!-- <link  href="{{ url_for('static', filename = 'elderly_profile/css/main.css') }}" rel="stylesheet" > -->



  <noscript>
    <style type="text/css">
      [data-aos] {
          opacity: 1 !important;
          transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
{% endblock %} 
 {% block content %} 

<body>
  <div class="page-content">
    <div class="container">
<div class="resume-container">
<div class="shadow-1-strong bg-white my-5" id="intro">
  <div class="bg-info text-white">
    <div class="cover bg-image" style="height:43rem"><img src="{{ url_for('static', filename = 'elderly_profile/images/header-background.jpg') }}"/>
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px); height: 50rem">
        <div class="text-center p-5">
          <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="{{ url_for('static', filename = 'elderly_profile/images/avatar.jpg') }}" width="160" height="160"/></div>
          <div class="header-bio mt-3">
            <div data-aos="zoom-in" data-aos-delay="0">
              <h2 class="h1">{{elderly['Username']}}</h2>
              <div class="col-md-5 offset-lg-1" style="margin-top:40px;margin-bottom:40px;text-align:left;position:centre;">
                <div class="row mt-2" >
                 
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Age</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">{{elderly['Age']}}</div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Email</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">{{elderly['Email']}}</div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Phone</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">{{elderly['Phone']}}</div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Address</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">{{elderly['Address']}}</div>
                  </div>
                </div>
              </div>
             
            </div>
    
            </div>
            <div class="d-print-none">
              <a class="btn btn-primary " href="{{ url_for('elderly_update') }}" data-aos="fade-left" data-aos-delay="700" style="width:20%">Update</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src = "{{ url_for('static', filename = 'elderly_profile/scripts/mdb.min.js') }}"></script>
  
<script src = "{{ url_for('static', filename = 'elderly_profile/scripts/aos.js') }}"></script>
 
<script src = "{{ url_for('static', filename = 'elderly_profile/scripts/main.js') }}"></script>
</body>   


{% endblock %}
