{% extends 'base.html' %}


{% block title %}
  UPDATE ELDERLY PROFILE
{% endblock %}

{% block head %}
  

    <!-- Font special for pages-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->

    <!-- Main CSS-->
    <link  href="{{ url_for('static', filename = 'elderly_update/css/main.css') }}" rel="stylesheet" >
 

    {% endblock %}


    {% block content %}
    <body style="background-color:#88bdbc">
    <div class="page-wrapper">
        <div class="wrapper wrapper--w900">
            <div class="card card-6" style="margin:0rem">
                <div class="card-heading" >
                    <h2 class="title"style="color:black; margin:6rem">Update Profile</h2>
                    
                </div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                {{ form.username(class="input--style-6",type="text",placeholder="USERNAME") }}
                                        
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email address</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.email_address(class="input--style-6",type="email",placeholder="EMAIL") }}
                            
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.address(class="input--style-6",type="text",placeholder="ADDRESS") }}
                              
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Age</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.age(class="input--style-6",type="number",placeholder="AGE") }}
                                    
                                </div>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="name">Phone</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.phone(class="input--style-6",type="text",placeholder="PHONE") }}
                              
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ form.submit(class="btn btn-x1 text-uppercase",type="submit") }}
                                 
                   
                        </div>
                       
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</body>
    <!-- Jquery JS-->
    <script src = "{{ url_for('static', filename = 'elderly_update/vendor/jquery/jquery.min.js') }}"></script>
   


    <!-- Main JS-->
    <script src = "{{ url_for('static', filename = 'elderly_update/js/global.js') }}"></script>
   
{% endblock %}