{% extends 'alert.html' %}


{% block title %}
  LOGIN PAGE
{% endblock %}

{% block head %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'login_page/css/style.css') }}"></linnk>

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css"> -->
{% endblock %}


{% block content %}
<body>	
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Welcome!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur et est sed felis aliquet sollicitudin</p>
		
		</div>
	</div>
	
	
		<div class="right">
		<h5 style="padding-bottom:20px; padding-top:40px">Login</h5>
		<form method="POST">
			{{ form.hidden_tag() }}	
		
        {{ form.username(class="form-control inputs",type="text",placeholder="User Name") }}

		{{ form.password(class="form-control inputs", type="password",placeholder="Password") }}

		
			
			<br><br>
			
			<p style="text-align:center;padding-bottom: 0px;">Don't have an account? <a href="{{ url_for('signup_page')}}">Creat Your Account</a></p>
		
			
			<br>
			{{ form.submit(class="btn btn-primary btn-xl text-uppercase") }}
		</form>
	</div>
	
</div>
<!-- partial -->  
</body>

{% endblock %}